---
import { Image } from "astro:assets";
import logo from "../../public/svg/logo.svg"
---

<footer class="w-full py-12 border-t border-[#ffffff10]">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="https://pradanaadn.github.io/"
        target="_blank"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <Image
          src={logo}
          class="h-8"
          alt="Logo",
          loading="lazy"
        />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap text-[var(--white)]"
          >Pradana Adnyana</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-[var(--white-icon)] sm:mb-0"
      >
  
        <li>
          <a href="/docs"  target="_blank" class="hover:underline">Blog</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-center text-sm text-[var(--white-icon)]  mt-12">
    <!-- If you are using this template, by MIT License you can't remove the copyright notice -->
    <span class="block text-sm text-[var(--white-icon)] sm:text-center"
      >Copyright © 2025 <a href="https://github.com/Gothsec">Oscar Hernandez</a
      >. All rights reserved.</span
    >
  </p>
</footer>
